body {
  padding: 1em 2em;
}

#cursor {
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Blinking Cursor Effect */
#cursor {
  display: inline-block;
  width: 10px;
  height: 2rem;
  background-color: transparent;
  border-left: 2px solid white;
  animation: blink 0.8s infinite;
}
